annotated-types==0.6.0 ; python_version >= "3.8" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.8" and python_version < "4.0"
astroid==3.0.2 ; python_version >= "3.8" and python_version < "4.0"
black==22.12.0 ; python_version >= "3.8" and python_version < "4.0"
bump-my-version==0.16.2 ; python_version >= "3.8" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==42.0.0 ; python_version >= "3.8" and python_version < "4.0"
dill==0.3.7 ; python_version >= "3.8" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.8" and python_version < "4.0"
dparse==0.6.3 ; python_version >= "3.8" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.8" and python_version < "4.0"
identify==2.5.33 ; python_version >= "3.8" and python_version < "4.0"
idna==3.6 ; python_version >= "3.8" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.8" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.8" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.8" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.8" and python_version < "4.0"
mypy==1.8.0 ; python_version >= "3.8" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.8" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "4.0"
pipdeptree==2.13.2 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==4.1.0 ; python_version >= "3.8" and python_version < "4.0"
pre-commit==3.5.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
pydantic==2.5.3 ; python_version >= "3.8" and python_version < "4.0"
pydantic-core==2.14.6 ; python_version >= "3.8" and python_version < "4.0"
pydantic-settings==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.8" and python_version < "4.0"
pylint==3.0.3 ; python_version >= "3.8" and python_version < "4.0"
pyparsing==3.1.1 ; python_version >= "3.8" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
pytoolconfig[global]==1.2.2 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
rich==13.7.0 ; python_version >= "3.8" and python_version < "4.0"
rich-click==1.7.3 ; python_version >= "3.8" and python_version < "4.0"
rope==1.12.0 ; python_version >= "3.8" and python_version < "4.0"
ruamel-yaml==0.18.5 ; python_version >= "3.8" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.8"
ruff==0.1.14 ; python_version >= "3.8" and python_version < "4.0"
safety==2.3.5 ; python_version >= "3.8" and python_version < "4.0"
setuptools==69.0.3 ; python_version >= "3.8" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_full_version < "3.11.0a7"
tomlkit==0.12.3 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
virtualenv==20.25.0 ; python_version >= "3.8" and python_version < "4.0"
