cffi==1.17.1 ; python_full_version == "3.8.*" and platform_python_implementation != "PyPy"
cffi==2.0.0 ; python_full_version > "3.9.0" and python_full_version != "3.9.1" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==46.0.5 ; python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_version < "4.0"
pycparser==2.22 ; python_full_version == "3.8.*" and platform_python_implementation != "PyPy" or python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
typing-extensions==4.13.2 ; python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_full_version < "3.11.0"
