cffi==1.17.1 ; python_full_version == "3.8.*" and platform_python_implementation != "PyPy"
cffi==2.0.0 ; python_full_version > "3.9.0" and python_full_version != "3.9.1" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==47.0.0 ; python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_version < "3.10" and platform_python_implementation != "PyPy" and (python_full_version == "3.8.*" or implementation_name != "PyPy")
pycparser==3.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
tenacity==9.0.0 ; python_full_version == "3.8.*" or python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_version < "3.10" and platform_python_implementation == "PyPy"
tenacity==9.1.2 ; python_version == "3.9" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and platform_python_implementation != "PyPy"
tenacity==9.1.4 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.13.2 ; python_full_version == "3.8.*" or python_version >= "3.8" and python_full_version != "3.9.0" and python_full_version != "3.9.1" and python_version < "3.10" and platform_python_implementation == "PyPy"
typing-extensions==4.15.0 ; python_full_version > "3.9.0" and python_full_version != "3.9.1" and python_version <= "3.10" and platform_python_implementation != "PyPy" or python_version == "3.10"
